# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# IDEs and Editors
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.*

# OS Files
.DS_Store
Thumbs.db

# Test artifacts
htmlcov/
.tox/
.coverage
coverage.xml
.pytest_cache/

# Postman
*.postman_environment.json
